@model Spaghetti.Models.Instructor

<div>
    <h2>Instructor Profile Details</h2>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Latest Qualifications:</strong> @Model.LatestQualification</p>
    <p><strong>Expertise Area:</strong> @Model.ExpertiseArea</p>
    <p><strong>Email:</strong> @Model.Email</p>
</div>