@model IEnumerable<Spaghetti.Models.TakenAssessment>

@{
    ViewData["Title"] = "Review My Assessments";
}

<h1>Review My Assessments</h1>

<table class="table">
    <thead>
        <tr>
            <th>Assessment ID</th>
            <th>Scored Points</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var assessment in Model)
        {
            <tr>
                <td>@assessment.AssessmentId</td>
                <td>@assessment.ScoredPoints</td>
            </tr>
        }
    </tbody>
</table>
