@{
    ViewData["Title"] = "Feedback";
}

<h2>Message</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
else if (ViewBag.Success != null)
{
    <div class="alert alert-success">
        <p>@ViewBag.Success</p>
    </div>
}
else
{
    <div class="alert alert-info">
        <p>Brain Freeze for the computer</p>
    </div>
}