@{
    ViewData["Title"] = "Update Grade";
}

<h2>Update Grade</h2>

@if (ViewBag.m != null)
{
    <div class="alert alert-success">
        @ViewBag.m
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @ViewBag.m
    </div>
}
