@model Spaghetti.Models.Instructor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Instructor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Values" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatestQualification" class="control-label"></label>
                <input asp-for="LatestQualification" class="form-control" />
                <span asp-validation-for="LatestQualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpertiseArea" class="control-label"></label>
                <input asp-for="ExpertiseArea" class="form-control" />
                <span asp-validation-for="ExpertiseArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ProfilePictureFile">Profile Picture</label>
                <input type="file" class="form-control" id="ProfilePictureFile" name="ProfilePictureFile" />
            </div>
            <div class="form-group">
                <input type="submit" value="Values" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
